:root{
    --Headercolor: red;
    --headerbgc: green;
    --navbgc:grey;
}

body{
    width: 100%;
    height: 100%;
    margin:0
}

header{
    display: flex;
    justify-content: space-between;
    margin:0px;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
}


h1{
    color:var(--Headercolor);
    font-size: 50px;
    display: flex;
    margin: 10px;
}

.boxheader{
 display: flex; 
 position: absolute;
  margin-top: 745px;
  font-size: 50px;
  height: auto;
  background-color: grey;
  width:100%
}


.logo{
    display: flex;
    justify-content: end;
    margin:15px;
}

#about-me{
    display:flexbox;
    justify-content: center;
    align-items: center;
    background-color: grey;
}



.maintext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.banner{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: center;

}

nav {
font-size: 30px;
padding:10px;
margin-top: 0px;
margin-bottom: 10px;
display:flex;
justify-content: space-around;
align-items: center;
background-color: var(--navbgc) ;
}

.boxgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box1"
    "box2 box3"
    "box2 box4";
    align-items: flex-start;
    height: 2000px;
    width: auto;
}

.box1{
display: flex;
grid-area: box1;
width: auto;
height: 1400px;
justify-content: center;
align-items: center;
}

.box2{
grid-area: box2;
display: flex;
height:600px;
align-items: center;

    }

.box3{
grid-area: box3;
display: flex;
height: 300px;
align-items: center;
}

.box4{
grid-area: box4;
display: flex;
align-items: center;
justify-content: center;
height: 300px;
    }



.forestplaceholder{
left:200px;
bottom:200px;
display: inline-block;

}

.boximage1{
        height: 600px;
        display: flex;
        justify-content: center; 
        align-items: center;   
    
    }

.boximage2{
        width: auto;
        height: 600px;
        display: flex;
        justify-content: center; 
        padding: 200px;

    }

.boximage3{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center; 
        padding-left: 75px;
    
    

    }

.boximage4{
        width: 50%;
        height: 270px; 
        justify-content: center;
        padding-left:150px;
    }
.contactlist{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
    
}



.CV{
   display: flex;
   justify-content: center;
   font-size: 25px;
   padding: 10px;
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;}
    nav{ 
        display: flex;
        flex-direction: column;}
    .maintext{
        display: flex;
        flex-direction: column;
    }
    
    .boxgrid {
       display: flex;
       flex-direction: column;
       height: auto;
        
    }
    .boximage1, .boximage2, .boximage3, .boximage4{
        width: 100%;
        height: auto;
        display: flex;
        padding: 0;
    }

    .box1, .box2, .box3, .box4{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        
    }
    }

   

